{%- set merged_settings = torrserver_bittorr_defaults | combine(torrserver_bittorr_effective_settings, recursive=True) -%}
{%- set ns = namespace(filtered={}) -%}
{%- for key, value in merged_settings.items() -%}
{%- if key not in torrserver_bittorr_feature_versions or (torrserver_version_sortable is version(torrserver_bittorr_feature_versions[key], '>=')) -%}
{%- set _ = ns.filtered.update({key: value}) -%}
{%- endif -%}
{%- endfor -%}
{%- set ordered = {} -%}
{%- for key in torrserver_bittorr_settings_key_order -%}
{%- if key in ns.filtered -%}
{%- set _ = ordered.update({key: ns.filtered[key]}) -%}
{%- endif -%}
{%- endfor -%}
{%- for key in ns.filtered.keys() | sort -%}
{%- if key not in torrserver_bittorr_settings_key_order -%}
{%- set _ = ordered.update({key: ns.filtered[key]}) -%}
{%- endif -%}
{%- endfor -%}
{{- {'BitTorr': ordered} | to_json(indent=2) -}}